{% extends 'base.html' %}
{% load static %}

{% block title %} Login {% endblock title %}


{% block content %}

          <div class="form_wrapper card">
            <form method="post">
              {% csrf_token %}
              {% if form.non_field_errors %}
                <ul>
                  {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% for hidden_field in form.hidden_fields %}
                {% if hidden_field.errors %}
                  <ul>
                    {% for error in hidden_field.errors %}
                      <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {{ hidden_field }}
              {% endfor %}

              {% for field in form.visible_fields %}
                {{ field.label_tag }}
                {% if field.errors %}
                  <ul>
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                  <br>{{ field.help_text }}
                {% endif %}
              {% endfor %}
              <button class="btn login rest-btn" type="submit"> <span> Login </span> </button>
            </form>
          </div>
          <div>
              <p>
                <a href="{% url 'password_reset' %}"> <button class="btn logout forgot-btn" type="submit"> <span> Forgot Password </span> </button> </a>
            </p>
          </div>
  <!--- End Dashboard Section --->
{% endblock content %}
