/*________________________

name: NAV-BAR-V1 CSS FILE
version: 1
date: 05/16/2020
author: Le Koj
website: *

_________________________*/

/*** Initial CSS settings  ***/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

:link, :visited {
  text-decoration: none;
}

a {
  outline: 0;
}

a:hover {
  text-decoration: none;
}


/*** General body settings  ***/
body {
    background-color: #fff;   /*-- white background  --*/

    color: #000;        /*-- black text  --*/
    font-family: "Source Sans Pro", Helvetica,sans-serif, verdana, Arial;
    font-size: .875em;        /*-- 14px of 16px --*/
    font-weight: normal;
    text-align: center;     /*-- centered text placement  --*/

    overflow-x: scroll;
    min-width: 320px;
}

/*** Nav-Bar settings  ***/
.site-nav {
 position: fixed;    /*-- stationary at top of window  --*/
 top: 0px;
 z-index: 90;       /*-- top stacked element  --*/
 width: 100%;      /*-- full window width  --*/
 height:8vh ;
 min-height: 65px;

  /*background-color: rgba(255, 255, 255, 0.1);*/
  /*background-color: #fff; /*#342d2e /*#332D2E*/
  background-color: #fff;

  /*-- set as grid  --*/
 display: grid;

  /*-- set as 2-row grid  --*/
 grid-template-columns:  [start] 80% [mid] 20% [end];

 grid-template-rows: [start] 100px [end];

  /*-- set grid areas  --*/
 grid-template-areas: "menu-wrapper logo-bar";

 border-bottom: 1px solid black;
 /*border: 1px solid red;*/
}


/*** SITE LOGO SETTINGS  ***/
.site-logo-wrapper {
  grid-area: logo-bar;    /*-- place in row-1  --*/
  width: 100%;

  height: 69px;

  /*border: 1px solid blue;*/
}

.back-home-link{
  width: 100%;
}

.logo-image {
  height: 80%;
  float: right;
  margin: 5px 5px auto;
  /*border: 1px solid red;*/
}
/*** END SITE LOGO SETTINGS  ***/


/*** SITE MENU-LIST SETTINGS  ***/
.site-menu-wrapper {
  grid-area: menu-wrapper;
  width: 100%;
  height: 69px;

  display: grid;
  grid-template-columns: [start] repeat(3, 1fr) [end];

  /*border: 1px solid green;*/
}

.site-menu-item {
  /*border: 1px solid red;*/
  display: grid;
  grid-template-columns: [start] 100% [end];
  grid-template-rows: [start] 100% [end];
  justify-content: center;
  text-align: left;
}


/*------------- CONTAINER CLASS ------------*/
.container {
  transform: translate(0px, 70px);
  /*border: 1px solid green;*/
}

.row {
  /*border: 1px solid red;*/
}

.page-title {
  margin: .1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
}


/*-------------------------*/
/*_________ CARD _________*/
/*------------------------*/
.card {
  margin-bottom: 1.5rem !important;
}

.card-title{
  text-align: left;
}

.card-author {
  text-align: left;
  font-size: 12px;
  font-weight: lighter;
  color: #99cccc;
  margin-bottom: 20px;
}

.card-text {
  text-align: left;
}


/*-------------------------*/
/*_________ BTN _________*/
/*------------------------*/
.btn {
  display: inline-block;
  border-radius: 50%;
  background-color: #2976f5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 90px;
  height: 90px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

  vertical-align: middle;
}

.btn:hover {
  background-color: #fff;
  color: #2976f5;
  border: 1px solid #2976f5;
}


.post-author {
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
  color: #329999;
  margin-bottom: 20px;
}

#content-section p{
  font-weight: lighter;
  letter-spacing: 0.02em;
}

#content-section h5{
  font-weight: normal;
  font-size: 1.4em;
  letter-spacing: 0.04em;
  color: #2976f5;

  width: 250px;
  margin: 0 auto;
}

.recipe-item {
  width: 75vw;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: left;
  font-weight: lighter;
  letter-spacing: .025rem;

  list-style: initial;
  transform: translate(25vw, 0);
}

.recipe-instruction {
  width: 90vw;
  margin: 0 auto;
  text-align: left;
  /*border: 1px solid red;*/
}

.recipe-overview {
  width: 90vw;
  margin: 0 auto;
  text-align: left;
}

.recipe-ingredients {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 140px;

  grid-column-gap: 5px;
  height: 150px;
  width: 100vw;
  margin: auto;

  background: #222;

  overflow-y: scroll;

  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;

  border: 1px solid #C0C0C0;

}

.ingredient-wrapper {
  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  grid-template-areas: "recipe";
}

.recipe-ingredients img {
  grid-area: recipe;
  width: 130px;
  height: 130px;
  align-self: center;
  justify-self: center;

  opacity: 0.43;

  border-radius: 50%;

  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.75);
}

.recipe-ingredients p {
  grid-area: recipe;
  align-self: center;
  justify-self: center;

  color: #fff;
  font-size: 16px;
  font-weight: bold;

  width: 125px;

  cursor: default;
}

.comments-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;

  width: calc(200px + 40vw);

  color: #fff;

  /*border: 1px solid red;*/
}


.date-p {
  font-weight: lighter;
  font-size: 12px;
  color: #ccc;
  letter-spacing: 0.05em;
  text-align: left;

  margin: 0;

  /*border: 1px solid red;*/
}

.author-p {
  text-align: left;
  font-size: 12px;
  font-weight: lighter;
  color: #329999;
  letter-spacing: 0.08em;
  text-transform: capitalize;

  margin: 0;

  /*border: 1px solid red;*/
}

.body-p {
  font-weight: lighter;
  letter-spacing: 0.05em;
  text-align: left;

  margin-top: 10px;
}
