{% extends "base.html" %}
{% load static %}

{% block content %}

<h1  class="row page-title" >RECIPES</h1>
<div class="row">
  {% for recipe in recipes %}
      <div class="col-md-4">
          <div class="card mb-2">
              <img class="card-img-top" src="/{{ recipe.image.url }}">
              <div class="card-body">
                  <h5 class="card-title">{{ recipe.title }}</h5>
                  <h5 class="card-author">post by {{ recipe.user.first_name }} {{ recipe.user.last_name }}</h5>
                  <p class="card-text">{{ recipe.description | truncatewords:30 }}</p>
                  <a href="{% url 'recipe_detail' recipe.recipe_id %}" class="btn-anchor"> <button class="btn"> <span> View </span> </button> </a>
                  <!---
                  <a href="{% url 'recipe_detail' recipe.recipe_id %}"
                     class="btn btn-primary">
                      <span>View</span>
                  </a>
                  --->
              </div>
          </div>
      </div>
  {% endfor %}
</div>

<style media="screen">
  #page-title {
    margin: 50px 50px 50px 0px;
    font-size: 1.8em;
  }

  .card-body {
    background: #222;
  }

  .card-title {
    color: #66ff66;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .card-text {
    color: #fff;
    font-weight: lighter;
  }


</style>

{% endblock %}
