{% extends "base.html" %}
{% load static %}

{% block content %}

    {% if video %}

      <div class="row">
        <video width="100%" height="auto" controls>
          <source src="/{{ video.video }}" alt="" width="100%" type="video/mp4">
          <source src="/{{ video.video }}" alt="" width="100%" type="video/ogg">
        </video>
      </div>

    {% else %}

      <div class="row">
        <video width="100%" height="auto" controls>
          <source src="#" alt="" width="100%" type="video/mp4">
          <source src="#" alt="" width="100%" type="video/ogg">
        </video>
      </div>

    {% endif %}

<h1 id="title-h5">{{ recipe.title }}</h1>
<h5 class="post-author">post by {{ recipe.user.first_name }} {{ recipe.user.last_name }}</h5>

<!--- Text Content --->
<div class="row" id="content-section">
      <h5 style="margin-top: 20px; margin-bottom: 10px">Overview</h5>
      <p class="recipe-overview">{{recipe.description}}</p>

      <hr style="width: 100%;">
      <h5 style="margin-top: 20px; margin-bottom: 10px">Ingredients</h5>

      <ul class="recipe-ingredients">
        {% for ingredient in ingredients %}
          <a class="ingredient-wrapper" href="#">
            <img src="/{{ ingredient.ingredient_image }}" alt="">
            <p class="ingredient-name">{{ingredient.ingredient_name}}</p>
          </a>
        {% endfor %}
      </ul>

      <hr style="width: 100%;">
      <h5 style="margin-top: 20px; margin-bottom: 10px">Items & Measurements</h5>
      <ul class="items-used">
        {% for ingredient in ingredients %}
          <li class="recipe-item">{{ingredient.ingredient_direction}}</li>
        {% endfor %}
      </ul>

      <hr style="width: 100%;">
      <h5 style="margin-top: 20px; margin-bottom: 10px">Instructions</h5>
      <div class="recipe-instruction">
        {% for instruction in instructions %}
          <p><span style="font-weight: bold">{{instruction.instruction_id}}. </span>  {{ instruction.instruction }}</p>
        {% endfor %}
      </div>

      <hr style="width: 100%;">
</div>

<!--- End Text Content --->


<h3 class="comment-title">COMMENTS</h3>
<div class="comment-section">

  <div class="form_wrapper edit-page">

    <form action="/recipe/{{ recipe.pk }}/" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}

          {% if field.errors %}
            <ul>
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {{ field }}
          {% if field.help_text %}
            <br>{{ field.help_text }}
          {% endif %}
        {% endfor %}
        <button class="btn" type="btn" type="submit"> <span> Submit</span> </button>
    </form>
  </div>

  <!---
  <h3 class="comment-title" style="margin-left: 10px">Comments:</h3>
  --->
  <hr>
  {% for comment in comments %}
  <div class="comments-card">
    <p class="date-p">
        {{comment.created_on.date }}&nbsp;
    </p>
    <p class="author-p">~ {{ comment.author }} </p>
    <p class="body-p">{{ comment.body }}</p>

  </div>
  {% endfor %}

</div>

<style media="screen">
  .comment-title {
    margin: 50px 50px 30px 0px;
    color: #222222;
  }

  .comment-section {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: auto;
    background: #363636;
  }

  div.form_wrapper {
    width: calc(300px + 10vw);
  }


  input[type=text]{
    width: calc(200px + 2vw);
    padding: 12px 20px;

    margin-left: 10px;
    margin-top: 10px;

    display: inline-block;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid blue;
    color: #fff;

    background: #363636;

  }

  textarea {
    width: calc(200px + 40vw);
    padding: 12px 20px;

    margin-left: 10px;
    margin-top: 20px;

    display: inline-block;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border: 1px solid blue;
    color: #fff;

    background: #363636;
  }

  .btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #2976f5;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    width: 100px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;

    vertical-align: middle;
  }

  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition:0.3s;
    color: #2976f5;
  }

  .btn:hover span {
    padding-right: 25px;
    color: #2976f5;
  }

  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }


  #title-h5 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 1.8em;
    color: #222222;
  }

  .navbar-light .navbar-toggler {
    border-color: #fff;
  }



</style>

{% endblock %}
